<footer class="footer__inner">
    <div class="footer__group container">
        <a href="#!"><img class="footer__logo" alt="" src="./assets/icons/logo.svg" /></a>
        <ul class="footer__navs d-md-none">
            <li class="footer__nav">
                <a href="#!">Explore</a>
            </li>
            <li class="footer__nav">
                <a href="#!">Community</a>
            </li>
            <li class="footer__nav">
                <a href="#!">Drops</a>
            </li>
        </ul>

        <ul class="footer__socials">
            <li class="footer__social">
                <a href="#!">
                    <img alt="" src="./assets/icons/facebook.svg" />
                </a>
            </li>

            <li class="footer__social">
                <a href="#!">
                    <img alt="" src="./assets/icons/instagram.svg" />
                </a>
            </li>
            <li class="footer__social">
                <a href="#!">
                    <img alt="" src="./assets/icons/twitter.svg" />
                </a>
            </li>
            <li class="footer__social">
                <a href="#!">
                    <img alt="" src="./assets/icons/linkedin.svg" />
                </a>
            </li>
        </ul>
    </div>
    <ul class="footer__navs container d-none d-md-flex">
        <li class="footer__nav">
            <a href="#!">Explore</a>
        </li>
        <li class="footer__nav">
            <a href="#!">Community</a>
        </li>
        <li class="footer__nav">
            <a href="#!">Drops</a>
        </li>
    </ul>

    <div class="footer__separate"></div>
    <p class="footer__text d-none d-md-block">©2022, All right reserved.</p>

    <div class="footer__bottom container">
        <p class="d-md-none">©2022, All right reserved.</p>
        <a href="#!" class="footer__link"><span>Privacy Policy</span></a>
        <a href="#!" class="footer__link"><span>Term of Service</span></a>
        <a href="#!" class="footer__link"><span>Cookie Settings</span></a>
    </div>
</footer>
