<div class="header__inner">
    <div class="top-bar">
        <!-- More btn -->
        <button class="top-bar__more-btn d-none d-lg-block">
            <img alt="" src="../assets/icons/menu.svg" />
        </button>
        <!-- Logo -->
        <div class="logo">
            <a href="#!"><img alt="meecats" src="./assets/icons/logo.svg" /></a>
        </div>
        <!-- Search -->

        <button class="top-bar__search-btn d-none d-lg-block">
            <img alt="" src="./assets/icons/search.svg" />
        </button>

        <form class="form-search d-lg-none" method="get" action="" onsubmit="(e) => e.preventDefault();">
            <div class="form-search__wrap">
                <img class="form-search__icon" alt="" src="../assets/icons/search.svg" />
                <input
                    class="form-search__input"
                    name="search"
                    type="text"
                    placeholder="Search for artworks, collections, artists etc"
                />
            </div>
        </form>
        <!-- Navbar -->
        <nav class="nav-bar">
            <ul class="nav-bar__list">
                <li class="nav-bar__item">
                    <a href="#!" class="nav-bar__link">
                        Home
                        <img class="nav-bar__arrow" alt="" src="./assets/icons/arrow-down.svg" />
                    </a>
                </li>
                <li class="nav-bar__item">
                    <a href="#!" class="nav-bar__link">
                        Explore

                        <img class="nav-bar__arrow" alt="" src="./assets/icons/arrow-down.svg" />
                    </a>
                </li>
                <li class="nav-bar__item">
                    <a href="#!" class="nav-bar__link">
                        Community
                        <img class="nav-bar__arrow" alt="" src="./assets/icons/arrow-down.svg" />
                    </a>
                </li>
            </ul>
        </nav>

        <div class="top-action d-lg-none">
            <button>Connect</button>
        </div>
    </div>
</div>
