/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
a[href] {
  text-decoration: none;
  font-family: inherit;
  border: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
}

a,
button,
select,
textarea,
li,
span {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #000;
}

:root {
  --height-header: 94px;
}
@media (max-width: 991.98px) {
  :root {
    --height-header: 54px;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Aeonik TRIAL";
  color: #fdfdfd;
}

.heading {
  font-family: "Clash Display";
}

/* Sroll bar */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(223, 225, 237, 0.06);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

a,
button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.header {
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: #000;
}
@media (max-width: 991.98px) {
  .header {
    padding: 12px 0;
  }
}
@media (max-width: 991.98px) {
  .header__more-btn img {
    width: 24px;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 991.98px) {
  .top-bar__search-btn img {
    width: 24px;
  }
}

.nav-bar__list {
  display: flex;
  align-items: center;
  gap: 44px;
}
@media (max-width: 991.98px) {
  .nav-bar__list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    height: calc(100% - 29px);
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
  }
}
@media (max-width: 767.98px) {
  .nav-bar__list {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
.nav-bar__link {
  display: flex;
  align-items: center;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  height: 44px;
}
@media (max-width: 991.98px) {
  .nav-bar__link {
    width: 100%;
    justify-content: space-between;
  }
}
.nav-bar__item {
  position: relative;
}
@media (max-width: 991.98px) {
  .nav-bar__item {
    width: 100%;
  }
}
.nav-bar__item:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 991.98px) {
  .nav-bar__item:hover .dropdown {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .nav-bar__item--active .dropdown {
    display: block !important;
    position: initial;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 991.98px) {
  .nav-bar {
    position: fixed;
    inset: 0 50% 0 0;
    background-color: #212127;
    z-index: 9;
    padding-top: 40px;
    border-radius: 0 20px 20px 0;
    translate: -100%;
    transition: translate 0.4s;
  }
  .nav-bar.show {
    translate: 0;
  }
  .nav-bar.show ~ .nav-bar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .nav-bar {
    inset: 0 15% 0 0;
    padding-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .nav-bar__arrow {
    width: 30px;
    rotate: -90deg;
    transition: rotate 0.4s;
  }
}
@media (max-width: 991.98px) {
  .nav-bar__item--active .nav-bar__arrow {
    rotate: 0deg;
  }
}
.nav-bar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.4s;
}
@media (max-width: 991.98px) {
  .nav-bar__overlay {
    position: fixed;
    z-index: 8;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.nav-bar__close-btn {
  padding-left: 40px;
  padding-bottom: 10px;
}
@media (max-width: 767.98px) {
  .nav-bar__close-btn {
    padding-left: 20px;
  }
}

.form-search {
  position: relative;
  width: 394px;
}
.form-search__wrap {
  height: 46px;
  width: 100%;
  border-radius: 8px;
  background: #212127;
  display: flex;
  align-items: center;
  gap: 15px;
}
.form-search__icon {
  margin-left: 15px;
  cursor: pointer;
}
.form-search__input {
  padding-right: 15px;
  flex: 1;
  height: 100%;
  background-color: transparent;
  color: #dfdfdf;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.form-search__input::placeholder {
  color: #9d9d9d;
}
@media (max-width: 1199.98px) {
  .form-search {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .form-search {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -60px;
    transition: translate 0.4s;
    display: none;
  }
  .form-search.hide {
    display: flex;
  }
  .form-search.show {
    display: none;
  }
}

.logo {
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .logo img {
    width: 68px;
  }
}

.top-action button {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  border-radius: 21px;
  border: 1px solid #fff;
  padding: 12px 24px;
}

.footer {
  padding: 80px 0 40px 0;
}
.dropdown {
  position: absolute;
  left: 0;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.4s;
}
.dropdown__inner {
  margin-top: 8px;
  padding: 6px;
  border-radius: 6px;
  background: #191919;
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.dropdown__item {
  position: relative;
}
.dropdown__item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 991.98px) {
  .dropdown__item:hover .sub-menu {
    position: initial;
    display: block;
  }
}
.dropdown__link {
  border-radius: 6px;
  padding: 8px 0 8px 8px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  transition: background-color 0.4s;
}
.dropdown__link .icon {
  filter: brightness(0) saturate(100%) invert(90%) sepia(6%) saturate(17%) hue-rotate(336deg) brightness(95%) contrast(84%);
  transition: filter 0.4s;
}
.dropdown__link:hover {
  background-color: #222a2a;
}
.dropdown__link:hover .icon {
  filter: brightness(0) saturate(100%) invert(85%) sepia(99%) saturate(2%) hue-rotate(209deg) brightness(109%) contrast(101%);
}
.dropdown__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #cdcdcd;
  flex: 1;
  flex-shrink: 0;
  transition: color 0.4s;
}
.dropdown__link:hover .dropdown__text {
  color: #fff;
}
.dropdown__link:hover .icon-rotate {
  visibility: visible;
  opacity: 1;
}

.icon-rotate {
  rotate: -90deg;
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.4s;
}

.sub-menu {
  width: 174px;
  position: absolute;
  left: calc(100% + 6px);
  top: 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.4s;
}
@media (max-width: 991.98px) {
  .sub-menu {
    margin-left: 22px;
    width: 200px;
  }
  .sub-menu .icon {
    display: none;
  }
  .sub-menu .dropdown__text {
    font-size: 1.6rem;
  }
}
.sub-menu__inner {
  padding: 4px;
  margin-left: 6px;
  background: #191919;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .sub-menu__inner {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

.search-result {
  position: absolute;
  left: 0;
  width: 820px;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
@media (max-width: 991.98px) {
  .search-result {
    top: 100%;
    width: 100%;
  }
}
.search-result.show {
  visibility: visible;
  opacity: 1;
}
.search-result.hide {
  visibility: hidden;
  opacity: 0;
}
.search-result__inner {
  margin-top: 6px;
  padding: 20px 30px;
  background-color: #191919;
  width: 100%;
  border-radius: 6px;
  height: min(500px, 100vh - 120px);
  overflow-y: auto;
}
.search-result__avatar {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.search-result__thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}
.search-result__title {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 93.75% */
  margin-bottom: 14px;
}
.search-result__title:not(:nth-child(1)) {
  margin-top: 15px;
}
.search-result__list {
  padding-left: 14px;
}
.search-result__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search-result__item + .search-result__item {
  margin-top: 10px;
}
.search-result__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.search-result__desc {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
}
.search-result__tag {
  color: #7a7a7a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
}

.intro {
  padding-top: 20px;
}
.intro__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .intro__inner {
    flex-direction: column;
    gap: 50px;
    overflow-y: hidden;
  }
}
.intro__left {
  flex: 1;
  padding-right: 40px;
}
@media (max-width: 991.98px) {
  .intro__left {
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  .intro__left {
    width: 100%;
  }
}
.intro__text {
  color: #eaddb8;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.24px;
}
@media (max-width: 767.98px) {
  .intro__text {
    font-size: 1.5rem;
  }
}
.intro__heading {
  margin-top: 20px;
  color: #fff;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.8px;
}
@media (max-width: 767.98px) {
  .intro__heading {
    margin-top: 12px;
    font-size: 4.3rem;
  }
}
.intro__desc {
  margin-top: 18px;
  color: #cfcfcf;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  width: 488px;
}
@media (max-width: 767.98px) {
  .intro__desc {
    margin-top: 12px;
    font-size: 1.4rem;
    width: 100%;
  }
}
.intro__action {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 49px;
}
@media (max-width: 767.98px) {
  .intro__action {
    margin-top: 24px;
  }
}
.intro__button {
  border-radius: 54px;
  background: #17e3a6;
  padding: 22px 34px;
  cursor: pointer;
  color: #000;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 767.98px) {
  .intro__button {
    font-size: 1.5rem;
    padding: 14px 20px;
  }
}
.intro__wrap-icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #7c3fd0;
}
@media (max-width: 767.98px) {
  .intro__wrap-icon {
    width: 50px;
    height: 50px;
  }
}
.intro__icon {
  width: 100%;
  object-fit: cover;
}
.intro__right {
  flex: 1;
}
@media (max-width: 991.98px) {
  .intro__right {
    width: 100%;
  }
}
.intro__contain-thumbs {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .intro__contain-thumbs {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    column-gap: 7px;
  }
}
.intro__wrap-thumb {
  width: 321px;
  height: 535px;
  position: relative;
  border-radius: 0px 82px 0px 0px;
  background: linear-gradient(180deg, #6affe2 0%, #982dff 100%);
}
@media (max-width: 991.98px) {
  .intro__wrap-thumb {
    flex: 1;
    width: 100%;
    height: 370px;
  }
}
@media (max-width: 767.98px) {
  .intro__wrap-thumb {
    height: 200px;
  }
}
.intro__img-thumb-1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  object-fit: cover;
  left: 0;
  bottom: 37px;
}
@media (max-width: 767.98px) {
  .intro__img-thumb-1 {
    height: 126px;
    bottom: 12px;
  }
}
.intro__decoration-1 {
  width: 171px;
  position: absolute;
  top: 32px;
  left: -21px;
}
@media (max-width: 991.98px) {
  .intro__decoration-1 {
    width: 125px;
    top: 13px;
    left: -8px;
  }
}
@media (max-width: 767.98px) {
  .intro__decoration-1 {
    width: 100%;
    z-index: 3;
    left: -12px;
    top: 10px;
  }
}
.intro__decoration-2 {
  width: 262px;
  position: absolute;
  z-index: -1;
  left: -97px;
  bottom: -79px;
}
.intro__multi-thumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 255px;
}
@media (max-width: 991.98px) {
  .intro__multi-thumb {
    width: 100%;
    gap: 6px;
  }
}
.intro__img-thumb-2 {
  width: 100%;
  height: 195px;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .intro__img-thumb-2 {
    width: 100%;
    height: 173px;
  }
}
@media (max-width: 767.98px) {
  .intro__img-thumb-2 {
    height: 79px;
  }
}
.intro__img-thumb-3 {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .intro__img-thumb-3 {
    height: 190px;
  }
}
@media (max-width: 767.98px) {
  .intro__img-thumb-3 {
    height: 114px;
  }
}
@media (max-width: 991.98px) {
  .intro__thumb {
    width: 100%;
  }
}
.intro__img-thumb-4 {
  height: 535px;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .intro__img-thumb-4 {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .intro__img-thumb-4 {
    height: 200px;
  }
}

.art-works {
  margin-top: 140px;
}
@media (max-width: 991.98px) {
  .art-works {
    margin-top: 60px;
  }
}
.art-works__heading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  width: 524px;
  text-align: center;
  color: #d9d9d9;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .art-works__heading {
    max-width: 60%;
    font-size: 3rem;
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .art-works__heading {
    font-size: 2rem;
    margin-bottom: 33px;
  }
}
.art-works__navbar--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.art-works__nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 991.98px) {
  .art-works__nav-list {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .art-works__nav-list {
    gap: 16px;
  }
}
.art-works__nav-item {
  padding-bottom: 18px;
  cursor: pointer;
}
.art-works__nav-item--current {
  border-bottom: 2px solid #009740;
}
.art-works__link {
  color: #d2d2d2;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.22;
}
@media (max-width: 767.98px) {
  .art-works__link {
    font-size: 1.2rem;
  }
}
.art-works__nav-item--current .art-works__link {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 767.98px) {
  .art-works__nav-item--current .art-works__link {
    font-size: 1.4rem;
  }
}
.art-works__contents {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .art-works__contents {
    margin-top: 20px;
  }
}
.art-works__content {
  display: none;
}
.art-works__content--current {
  display: block;
}
.art-works__separate {
  margin-top: -3px;
  background-color: #3c3c3c;
  width: 100%;
  height: 1px;
}

.filter__inner {
  padding-bottom: 18px;
}
.filter__select {
  display: flex;
  align-items: center;
  gap: 29px;
}
@media (max-width: 767.98px) {
  .filter__select {
    gap: 16px;
    color: #d2d2d2;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.83;
  }
}
.filter__group {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .filter__group {
    color: #d2d2d2;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.83;
  }
}

.art-card {
  width: 100%;
}
.art-card__inner {
  background: #212127;
  overflow: hidden;
  flex-shrink: 0;
}
.art-card__owner {
  padding: 18px 0 13px 22px;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 767.98px) {
  .art-card__owner {
    padding: 14px 0 13px 20px;
  }
}
.art-card__avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #b6b6b6;
}
@media (max-width: 767.98px) {
  .art-card__avatar {
    width: 28px;
    height: 28px;
  }
}
.art-card__avatar.small {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}
.art-card__thumbnail {
  width: 100%;
  position: relative;
}
.art-card__actions {
  position: absolute;
  right: 0;
  top: 50%;
  background: #212127;
  transform: translate(100%, -50%);
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  padding: 30px 23px;
  transition: transform 0.3s;
}
@media (max-width: 767.98px) {
  .art-card__actions {
    padding: 28px 20px;
    gap: 40px;
  }
}
.art-card__thumbnail:hover .art-card__actions {
  transform: translate(0%, -50%);
}
.art-card__action:nth-child(1) img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .art-card__action:nth-child(1) img {
    width: 40px;
    height: 40px;
  }
}
.art-card__action:not(:nth-child(1)) img {
  width: 32px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .art-card__action:not(:nth-child(1)) img {
    width: 25px;
  }
}
.art-card__action:not(:nth-child(1)) div {
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.22;
  margin-top: 4px;
}
@media (max-width: 767.98px) {
  .art-card__action:not(:nth-child(1)) div {
    font-size: 1.6rem;
  }
}
.art-card__img {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .art-card__img {
    height: auto;
  }
}
.art-card__info {
  padding: 12px 23px;
}
@media (max-width: 767.98px) {
  .art-card__info {
    padding: 10px 20px;
  }
}
.art-card__name {
  color: #b6b6b6;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.art-card__token {
  margin-top: 7px;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2.5px;
}
.art-card__bottom {
  padding: 12px 36px 23px 23px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .art-card__bottom {
    padding: 10px 20px 20px 20px;
  }
}
.art-card__group-owners {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.art-card__group-owners img:not(:nth-child(1)) {
  margin-left: -6px;
}
.art-card__title {
  color: #b6b6b6;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.467;
}
.art-card__price {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.467;
}

.collections__inner {
  margin-top: 160px;
}
@media (max-width: 991.98px) {
  .collections__inner {
    margin-top: 60px;
  }
}
.collections__heading {
  margin-bottom: 60px;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (max-width: 991.98px) {
  .collections__heading {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .collections__heading {
    font-size: 2rem;
  }
}

.collection-card__inner {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.collection-card__name {
  padding: 48px 34px 17px;
  color: #ececec;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 4.76px;
}
@media (max-width: 1199.98px) {
  .collection-card__name {
    padding: 20px 20px 10px 20px;
  }
}
@media (max-width: 991.98px) {
  .collection-card__name {
    font-size: 2.4rem;
  }
}
@media (max-width: 767.98px) {
  .collection-card__name {
    color: #ececec;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    letter-spacing: 2.8px;
  }
}
.collection-card__author {
  width: 166px;
  height: 40px;
  margin-left: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 33px;
  background: rgba(217, 217, 217, 0.27);
  backdrop-filter: blur(4.5px);
}
@media (max-width: 1199.98px) {
  .collection-card__author {
    margin-left: 20px;
    width: 144px;
  }
}
.collection-card__author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.collection-card__author p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
.collection-card__info {
  position: absolute;
  bottom: 46px;
  left: 34px;
  right: 34px;
  padding: 30px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(246, 246, 246, 0.2);
  backdrop-filter: blur(91.5px);
}
@media (max-width: 1199.98px) {
  .collection-card__info {
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px 14px;
  }
}
@media (max-width: 991.98px) {
  .collection-card__info {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .collection-card__info {
    display: flex;
  }
}
.collection-card__title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}
.collection-card__value {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 1199.98px) {
  .collection-card__value {
    font-size: 2rem;
  }
}
.collection-card__group-collected {
  display: flex;
  align-items: center;
}
.collection-card__group-collected img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 1199.98px) {
  .collection-card__group-collected img {
    width: 24px;
    height: 24px;
  }
}
.collection-card__group-collected img:not(:nth-child(1)) {
  margin-left: -9px;
}

.instructions__inner {
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .instructions__inner {
    margin-top: 60px;
  }
}
.instructions__heading {
  margin-bottom: 40px;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .instructions__heading {
    margin-bottom: 20px;
    font-size: 2rem;
  }
}

.instructions-card {
  width: 100%;
  background-color: #212127;
}
.instructions-card__inner {
  padding: 24px 20px;
}
@media (max-width: 767.98px) {
  .instructions-card__inner {
    padding: 14px;
  }
}
.instructions-card__img {
  display: block;
  height: 76px;
  width: auto;
  object-fit: cover;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .instructions-card__img {
    height: 44px;
  }
}
.instructions-card__title {
  text-align: center;
  margin-top: 18px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  max-width: 160px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .instructions-card__title {
    font-size: 1.2rem;
    margin-top: 8px;
    max-width: 114px;
  }
}
.instructions-card__separate {
  display: block;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background-color: #444;
}
@media (max-width: 767.98px) {
  .instructions-card__separate {
    margin-top: 8px;
  }
}
.instructions-card__desc {
  text-align: center;
  margin-top: 14px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
@media (max-width: 767.98px) {
  .instructions-card__desc {
    margin-top: 8px;
    font-size: 0.8rem;
  }
}

.discover {
  margin-top: 120px;
}
@media (max-width: 991.98px) {
  .discover {
    margin-top: 60px;
  }
}
.discover__heading {
  color: #fff;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.07;
  letter-spacing: 0.56px;
}
@media (max-width: 991.98px) {
  .discover__heading {
    font-size: 3.2rem;
    max-width: 80%;
  }
}
.discover__desc {
  margin-top: 20px;
  color: #cfcfcf;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
@media (max-width: 991.98px) {
  .discover__desc {
    margin-top: 12px;
    font-size: 1.4rem;
  }
}
.discover__left button {
  margin-top: 40px;
  color: #000;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  border-radius: 54px;
  background: #17e3a6;
  padding: 22px 23px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .discover__left button {
    font-size: 1.5rem;
    padding: 14px 20px;
  }
}
.discover__thumb {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-left: 60px;
}
@media (max-width: 991.98px) {
  .discover__thumb {
    margin-left: 0;
    margin-top: 46px;
  }
}

/*# sourceMappingURL=main.css.map */
