@use '../abstracts';

.art-works {
    margin-top: 140px;

    &__heading {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 62px;
        width: 524px;
        text-align: center;
        color: #d9d9d9;
        font-size: 5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    &__inner {
    }
}
