@use '../abstracts';

.featured-artists {
    padding: 80px 0;
    background: #212127;

    @include abstracts.breakpoint(md) {
        padding: 60px 0;
    }

    &__heading {
        margin-bottom: 40px;
        color: #f1f3f5;
        font-size: 5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        text-transform: capitalize;

        @include abstracts.breakpoint(md) {
            font-size: 2rem;
        }
    }

    &__list-item {
        margin-top: 90px;

        @include abstracts.breakpoint(md) {
            margin-top: 65px;
        }
    }

    &__list-item .col:nth-child(3) {
        @include abstracts.breakpoint(lg) {
            margin-top: 70px;
        }
    }
    &__list-item .col:not(:nth-child(1)) {
        @include abstracts.breakpoint(md) {
            margin-top: 65px;
        }
    }
}

.artist-card {
    background-color: #000;
    border-radius: 20px;
    &__thumb {
        width: 100%;
        position: relative;
    }

    &__img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    &__decoration {
        position: absolute;
        left: 8px;
        top: 0;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;

        @include abstracts.breakpoint(md) {
            width: 70px;
            height: 70px;
        }
    }

    &__info {
        padding: 30px 25px;

        @include abstracts.breakpoint(md) {
            padding: 20px 14px;
        }
    }

    &__details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        button {
            padding: 10px 26px;
            border-radius: 19px;
            background: #0019fe;
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            color: #fff;

            font-size: 1.7rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            text-transform: capitalize;
        }
    }

    &__desc {
        padding: 0 25px 30px 25px;
        color: #a4a4a4;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.13;

        @include abstracts.breakpoint(md) {
            padding: 0 14px 20px 14px;
            font-size: 1.4rem;
        }
    }

    &__name-author {
        color: #fff;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;

        @include abstracts.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &__user-name {
        color: #a4a4a4;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 15px;

        @include abstracts.breakpoint(md) {
            font-size: 1.2rem;
        }
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__title {
        margin-top: 4px;
        color: #a4a4a4;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42;
    }
}
