@use '../abstracts';

.intro {
    padding-top: 20px;

    &__inner {
        display: flex;
        align-items: center;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            gap: 50px;
            overflow-y: hidden;
        }
    }

    &__left {
        flex: 1;
        padding-right: 40px;

        @include abstracts.breakpoint(lg) {
            padding-right: 0;
        }
    }

    &__text {
        color: #eaddb8;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.24px;
    }

    &__heading {
        margin-top: 20px;
        color: #fff;
        font-size: 6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 0.8px;
    }

    &__desc {
        margin-top: 18px;
        color: #cfcfcf;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2px;
        width: 488px;
    }

    &__action {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 49px;
    }

    &__button {
        border-radius: 54px;
        background: #17e3a6;
        padding: 22px 34px;
        cursor: pointer;
        color: #000;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1;
    }

    &__wrap-icon {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color: #7c3fd0;
    }

    &__icon {
        width: 100%;
        object-fit: cover;
    }

    &__right {
        flex: 1;

        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
    }

    &__contain-thumbs {
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstracts.breakpoint(lg) {
            display: grid;
            grid-template-columns: 35% 30% 35%;
            column-gap: 7px;
        }
    }

    &__wrap-thumb {
        // flex-shrink: 0;
        width: 321px;
        height: 535px;
        position: relative;
        border-radius: 0px 82px 0px 0px;
        background: linear-gradient(180deg, #6affe2 0%, #982dff 100%);

        @include abstracts.breakpoint(lg) {
            flex: 1;
            width: 100%;
            height: 370px;
        }
    }

    &__img-thumb-1 {
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        bottom: 37px;
    }

    &__decoration-1 {
        width: 171px;
        position: absolute;
        top: 32px;
        left: -21px;

        @include abstracts.breakpoint(lg) {
            width: 125px;
            top: 13px;
            left: -8px;
        }
    }

    &__decoration-2 {
        width: 262px;
        position: absolute;
        z-index: -1;
        left: -97px;
        bottom: -79px;
    }

    &__multi-thumb {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 255px;

        @include abstracts.breakpoint(lg) {
            width: 100%;
            gap: 6px;
        }
    }

    &__img-thumb-2 {
        width: 100%;
        height: 195px;
        object-fit: cover;
        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: 173px;
        }
    }

    &__img-thumb-3 {
        width: 100%;
        height: 320px;
        object-fit: cover;
        @include abstracts.breakpoint(lg) {
            height: 190px;
        }
    }

    &__thumb {
        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
    }

    &__img-thumb-4 {
        height: 535px;
        object-fit: cover;

        @include abstracts.breakpoint(lg) {
            height: auto;
        }
    }
}
