@use '../abstracts';
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #000;
}

:root {
    --height-header: 94px;

    @include abstracts.breakpoint(lg) {
        --height-header: 54px;
    }
}

body {
    font-size: 1.6rem;
    font-family: 'Aeonik TRIAL';
    color: #fdfdfd;
    //   color: var(--text-color);
    //   background-color: var(--bg-color);
}

.heading {
    font-family: 'Clash Display';
}

.icon {
    //   filter: var(--icon-filter-color);
}

/* Sroll bar */
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(223, 225, 237, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
//End Scroll bar

a,
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
